.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.console {
  /* display: inline-block; */
  position: relative;
  /* display: block; */
  width: 100%;
  /* height: 10%; */
  /* border-bottom: 1px solid #ddd; */
}

.console::before {
  position: absolute;
  /* display: inline-block; */
  content: "";
  background-image: url("/in.svg");
  background-size: contain;
  /* top: 0.9rem; */
  top: 0.5rem;
  left: 0.4rem;
  width: 15px;
  height: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.ace-cli {
  margin-left: 1.5rem;
  border-left: 0px solid #4c78a8;
}
