body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#columns-list {
  overflow: scroll;
  text-overflow:ellipsis;
  width: 20vw;
}

.dropdown {
  margin-right: 10%;
}

#dataview-dropdown {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: auto;
  height: auto;
}

#dataview-file-upload {
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#operator-view {
  border: 2px solid black;
}

#dataviz-view {
  border: 2px solid black;
}

#table-view {
  border: 2px solid black;
}


